{{view App.AlertsView}}
<div class="col-md-8 col-sm-8">
<form role="form">
   <div id="password-group" class="form-group">
     <label for="new-password" class="control-label text-primary">New Password</label>
     {{input type="password" value=password classNames="form-control input-lg" placeholder="New Password"}}
   </div>
  <button {{bindAttr class=":btn :btn-lg :btn-primary :btn-block updating:disabled"}} type="submit" {{action "update" "password"}}>
  {{#if updating}}
      Please Wait
  {{else}}
      Update Password
  {{/if}}
  </button>
</form>
</div>