<ul id="sidebar-nav" class="nav nav-stacked my-profile-nav">
    <li id="profile-sidenav-link" class="active" {{action "goTo" "profile"}}> <i class="uicon-user"></i></li>
    <li id="password-sidenav-link" {{action "goTo" "password"}}><i class="uicon-lock"></i></li>
    <li id="events-sidenav-link" {{action "goTo" "events"}}><span>{{numberOfEvents}}</span><br />Events</li>
    <li id="snaps-sidenav-link" {{action "goTo" "snaps"}}><span>{{numberOfSnaps}}</span><br />Snaps</li>
</ul>