<div class="media event-list-item">
	<span class="label label-primary pull-right event-date">{{eventDateFormatted}}</span>
  <a class="pull-left" href="#" data-toggle="tooltip" title="first tooltip">
		{{#if imageURL}}
    	<img class="media-object event-image" {{bindAttr src="mediumImageURL"}} alt="event image"/>
		{{else}}
			<img class="media-object event-image" {{bindAttr src="defaultImageURL"}} alt="event image"/>
		{{/if}}
  </a>
  <div class="media-body">
    <h4 class="media-heading text-primary">{{{title}}}</h4>
		<h5>by 
			<a href="#">
				{{#if user.imageURL}}
					<img {{bindAttr src="user.thumbImageURL"}} class="img-circle event-user-image"/>
				{{else}}
					{{user.username}}
				{{/if}}
			</a>
		</h5>
		<div><strong>{{location}}</strong>
			{{#if time}}
				&middot; {{time}}
			{{/if}}
		</div>
    {{{description}}}
  </div>
</div>