<div class="col-md-2 col-sm-2"></div><!-- spacer -->
<div class="col-md-8 col-sm-8">
  <div class="modal-header">
    <h4 class="modal-title text-primary">Please Sign In</h4>
  </div>
  <form name="login-form" id="login-form">
      <input name="rememberMe" type="hidden" value="false" /> 
      <div class="modal-body">
       <div class="alert alert-danger login-error-alert">
          <span class="uicon-warning"></span>
          <span id="login-error-message"></span>
       </div>
        <div class="form-group">
          <label for="username" class="control-label text-primary">Username</label>
          {{view Ember.TextField valueBinding="username" classNames="form-control input-lg" placeholder="Username"}}
        </div>
        <div class="form-group">
          <label for="password" class="control-label text-primary">Password</label>
          {{view Ember.TextField  type="password" valueBinding="password" classNames="form-control input-lg" placeholder="Password"}}
        </div>
        <div class="text-center">
          <a href="#">Forgot Password?</a>
        </div>
      </div>
      <div class="modal-footer">
          <button {{bindAttr class=":btn :btn-lg :btn-primary :btn-block loggingIn:disabled"}} type="submit" {{action "login"}}>
          {{#if loggingIn}}
              Please Wait
          {{else}}
              Sign in
          {{/if}}
          </button>
      </div>
  </form>
</div>
<div class="col-md-2 col-sm-2"></div><!-- spacer -->