<div class="col-md-2 col-sm-2"></div><!-- spacer -->
<div class="col-md-8 col-sm-8">
    <h4 class="text-primary">Create Your Account</h4>
		{{view App.AlertsView}}
		<form name="signup-form" id="signup-form" role="form">
      <div id="username-group" class="form-group">
        <label for="username" class="control-label text-primary">Username</label>
        {{input type="text" valueBinding="username" classNames="form-control input-lg" placeholder="Username" maxlength="150"}}
      </div>
      <div id="password-group" class="form-group">
        <label for="password" class="control-label text-primary">Password</label>
        {{input type="text" type="password" valueBinding="password" classNames="form-control input-lg" placeholder="Password" maxlength="255"}}
      </div>
	    <div id="email-group" class="form-group">
	      <label for="email" class="control-label text-primary">Email</label>
	      {{input type="text" value=email classNames="form-control input-lg" placeholder="Email" maxlength="255"}}
	    </div>
      <div class="form-group">
        <label for="schools" class="control-label text-primary">School</label>
				{{view Ember.Select classNames="form-control input-lg" 
														content=schools
						 						   	optionValuePath="content.id"
						 			         	optionLabelPath="content.name"
				                    selection=selectedSchool}}
      </div>
	    <div class="form-group">
	      <label for="status" class="control-label text-primary">School Status</label>
				{{view Ember.Select classNames="form-control input-lg" 
														content=schoolStatuses 
														selection=selectedStatus }}
	    </div>
			<div class="alert alert-info">
          <i class="uicon-info"></i> By Pressing the "Sign up" button you agree to the terms and conditions listed in the <a href="#">Terms</a> section of this website.
      </div>
      <div>
          <button {{bindAttr class=":btn :btn-lg :btn-primary :btn-block signingUp:disabled"}} type="submit" {{action "signup"}}>
          {{#if signingUp}}
              Please Wait
          {{else}}
						Sign up
          {{/if}}
          </button>
      </div>
  	</form>
</div>
<div class="col-md-2 col-sm-2"></div><!-- spacer -->